/* Normalizing */
*{
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    color:inherit;
    text-decoration:none;
}
ul,li{
    list-style: none;
}

/* Library */
.cell{
    float:left;
}
.cell_r{
    float:right;
}
.row::after{
    content:"";
    display:block;
    clear:both;
}
.con{
    width:1150px;
    margin:0 auto;
}
.con_sub{
    width:1440px;
    margin:0 auto;
}
.bgcolor_main{
    background-color:#0A9A97;
}
.bgcolor_sub{
    background-color:#3A4158;
}
.color_main{
    color:#0A9A97;
}
.color_sub{
    color:#555555;
}

/* Modulation */
.box_image > img{
    width:100%;
}
.section_left{
    width:820px;
    padding-right:60px;
    box-sizing:border-box;
}
.section_right{
    width:330px;
}

/* Style */


/* 480*590 */

/* .wrap_popup_open start */

.wrap_popup_open{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    z-index:9999;
    display:block;
}
.wrap_popup_open.active{
    display:none;
}
.wrap_popup_open > .popup_open{
    width:480px;
    height:590px;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
}
.wrap_popup_open > .popup_open > .box_image{
    margin:0 auto;
    width:98%;
}
.wrap_popup_open > .popup_open > .box_button{
    width:100%;
    padding-top:5px;
    padding-right:15px;
    box-sizing:border-box;
}
.wrap_popup_open > .popup_open > .box_button > .button_close{
    width:50px;
    height:30px;
    border:1px solid white;
    box-sizing:border-box;
    text-align:center;
    line-height:30px;
    font-size:12px;
    color:white;
    cursor:pointer;
}
.wrap_popup_open > .popup_open > .box_button > .button_nottoday{
    width:150px;
    height:30px;
    text-align:center;
    line-height:30px;
    font-size:12px;
    color:white;
    cursor:pointer;
}
/* .wrap_popup_open end */

/* .wrap_topbar start */

.wrap_topbar{
    width:100%;
}
.wrap_topbar::after{
    content:"";
    display:block;
    width:0px;
    height:1.2px;
    background-color:#0A9A97;
    transition:3s;
    pointer-events:none;
    transform:translateY(-100%);
}
.wrap_topbar.active::after{
    width:100%;
}
.wrap_topbar > .topbar01 > ul > li{
    font-size:12px;
    font-weight:500;
    line-height:30px;
    text-align:center;
    margin-right:15px;
}
.wrap_topbar > .topbar01 > ul > li:hover{
    text-decoration:underline;
}
.wrap_topbar > .topbar01 > .lang > li{
    margin-left:20px;
    cursor:pointer;
    position:relative;
}
.wrap_topbar > .topbar01 > .lang > li:hover{
    text-decoration:none;
}
.wrap_topbar > .topbar01 > .lang > li > div{
    position:relative;
}
.wrap_topbar > .topbar01 > .lang > li > div > .icon_expand{
    width: 14px;
    height: 14px;
    padding-top:3px;
    box-sizing:border-box;
    position:absolute;
    right:-20px;
    top:0;
    display:none;
}
.wrap_topbar > .topbar01 > .lang > li > div > .icon_expand.active{
    display:block;
}
.wrap_topbar > .topbar01 > .lang > li > div > .icon_expand > img{
    width:100%;
}

.wrap_topbar > .topbar01 >.lang > li > ul{
    width:75px;
    line-height:40px;
    max-height:0;
    overflow:hidden;
    transition:1s;
    position:absolute;
    top:100%;
    left:0;
    z-index:999;
}

.wrap_topbar > .topbar01 >.lang > li > ul.active{
    
    max-height:300px;
}
.wrap_topbar > .topbar01 >.lang > li > ul > li{
    background-color:white;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    box-sizing:border-box;
}
.wrap_topbar > .topbar01 >.lang > li > ul > li:first-child{
    border-top:1px solid #ddd;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.wrap_topbar > .topbar01 >.lang > li > ul > li:last-child{
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.wrap_topbar > .topbar01 >.lang > li > ul > li:hover{
    text-decoration:underline;
}
.wrap_topbar > .topbar02{
    text-align:center;
}
.wrap_topbar > .topbar02 > .box_logo{
    width:105px;
    height:70px;
    padding-top:20px;
    box-sizing:border-box;
}
.wrap_topbar > .topbar02 > .box_logo > img{
    width: 100%;
}
.wrap_topbar > .topbar02 > .box_nav{
    margin-left:166px;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li{
    line-height:70px;
    font-size:18px;
    padding: 0 40px;
    box-sizing:border-box;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li:hover{
    color:#0A9A97;
    font-weight:bolder;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li:hover > .wrap_nav2depth{
    color:black;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth{
    background-color:white;
    position:absolute;
    left:0;
    top:99.5px;
    width:100%;
    z-index:9999;
    max-height:0px;
    overflow:hidden;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth::after{
    content:"";
    display:block;
    width:100%;
    height:0px;
    background-color:white;
    transition:0.5s;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li:hover > .wrap_nav2depth{
    max-height:600px;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li:hover > .wrap_nav2depth::after{
    height:20px;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth{
    position:relative;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > ul{
    width:100%;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > ul > li{   
    width:20%;
    line-height:20px;
    padding-top:30px;
    padding-bottom:10px;
    padding-left:25px;
    box-sizing:border-box;
    text-align:left;
    font-size:14px;
    font-weight:bold;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > ul > li > ul{
    margin-top:5px;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > ul > li > ul > li{
    margin:1px 0;
    font-size:12px;
    font-weight:normal;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > ul > li > ul > li:hover{
    color:#0A9A97;
    text-decoration:underline;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > ul > li > ul > li > a > .box_image{
    padding-top:3px;
    padding-left:3px;
    box-sizing:border-box;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > .box_outline{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    pointer-events:none;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > .box_outline > .outline{
    width:20%;
    height:100%;
    border-right:1px solid #ddd;
    box-sizing:border-box;
}
.wrap_topbar > .topbar02 > .box_nav > ul > li > .wrap_nav2depth > .nav2depth > .box_outline > .outline:last-child{
    border:0;
}
.wrap_topbar > .topbar02 > .box_icon > ul > li{
    line-height:70px;
    font-size:25px;
    margin-left:20px;
}
.wrap_topbar > .topbar02 > .box_icon > ul > li:hover > a > i{
    color:#0A9A97;
}

/* .wrap_topbar end */


/* .wrap_mainvisual start */

.wrap_mainvisual{
    width:100%;
    background-color:#FAFBFB;
}
.wrap_mainvisual > .mainvisual > .box_slider{
    height:440px;
    position:relative;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider{
    width:100%;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider{
    width:100%;
    position:relative;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider > .box_image > img{
    width:100%;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider > .box_info{
    position:absolute;
    top:80px;
    left:0;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider > .box_info > .box_category{
    width:60px;
    height:25px;
    background-color:white;
    border:1px solid #ddd;
    border-radius:3px;
    text-align:center;
    line-height:25px;
    font-size:14px;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider > .box_info > .title{
    margin-top:30px;
    font-size:36px;
    font-weight:900;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider > .box_info > .text{
    margin-top:20px;
    font-size:15px;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider > .box_info > .button_more{
    margin-top:40px;
    width:100px;
    height:40px;
    background-color:rgba(0,0,0,0.8);
    border-radius:40px;
    text-align:center;
    line-height:40px;
    color:white;
    font-size:14px;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider > .box_info > .button_more > a{
    display:inline-block;
}
.wrap_mainvisual > .mainvisual > .box_slider > .slider .content_slider > .box_info > .button_more:hover > a{
    text-decoration:underline;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button{
    width:140px;
    position:absolute;
    right:110px;
    bottom:40px;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_slide{
    width:110px;
    height:25px;
    background-color:rgba(0,0,0,0.4);
    border-radius:25px;
    display:flex;
    justify-content:center;
    line-height:25px;
    color:white;
    font-size:12px;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_slide:hover{
    background-color:rgba(0,0,0,0.8);
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_slide > .page > span{
    font-weight:bold;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_slide > .box_image{
    width:25px;
    height:25px;
    cursor:pointer;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_slide > .box_image.movement{
    width:6px;
    margin-right:10px;
    display:none;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_slide > .box_image.movement.active{
    display:block;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_list{
    width:25px;
    height:25px;
    background-color:rgba(0,0,0,0.4);
    border-radius:25px;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_list:hover{
    background-color:rgba(0,0,0,0.8);
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_list > .box_image{
    width:100%;
    height:100%;
    cursor:pointer;
    position:relative;
}
.wrap_mainvisual > .mainvisual > .box_slider > .box_button > .button_list > .box_image > img{
    width: 50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.wrap_mainvisual > .mainvisual > .box_menu{
    padding-top:45px;
    box-sizing:border-box;
    height:440px;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_main{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_main > a > .list{
    width:160px;
    height:120px;
    border-radius:10px;
    position:relative;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_main > a > .list > .box_text{
    position:absolute;
    bottom:15px;
    left:15px;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_main > a > .list > .box_text > span{
    color:white;
    font-size:20px;
    font-weight:bold;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_main > a > .list > .box_text > .box_image{
    width:25px;
    height:20px;
    padding-top:3px;
    box-sizing: border-box;
    display:none;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_main > a > .list:hover > .box_text > .box_image{
    display:block;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_sub{
    margin-top:30px;
    width:100%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_sub > .list{
    margin-bottom:30px;
    width:110px;
    text-align:center;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_sub > .list > a{
    display:inline-block;
    text-align:center;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_sub > .list > a> .box_image{
    margin-bottom:-5px;
    width:65px;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_sub > .list > a > span{
    font-size:14px;
}
.wrap_mainvisual > .mainvisual > .box_menu > .menu_sub > .list > a:hover > span{
    font-weight:bold;
}

/* .wrap_mainvisual end */

/* .popup_mainvisual start */

body{
    position:relative;
}
.popup_mainvisual{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    background-color:rgba(0,0,0,0.5);
    z-index:99999;
    display:none;
}
.popup_mainvisual.active{
    display:block;
}
.popup_mainvisual > .box_popup{
    margin-top:160px;
}
.popup_mainvisual > .box_popup > .box1{
    margin-bottom:20px;
}
.popup_mainvisual > .box_popup > .box1 > .button_close{
    width: 50px;
    height: 50px;
    border-radius:100%;
    background-color: black;
    position:relative;
    cursor:pointer;
}
.popup_mainvisual > .box_popup > .box1 > .button_close > .box_image{
    position:absolute;
    width: 60%;
    height: 60%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.popup_mainvisual > .box_popup > .box2 > a > .box_image{
    width:363px;
    height:363px;
    border-radius:15px;
    overflow:hidden;
    margin-right:30px;
    margin-bottom:30px;
}
.popup_mainvisual > .box_popup > .box2 > a:nth-child(3n) > .box_image{
    margin-right:0;
}

/* .popup_mainvisual end */

/* .wrap_section01 start */

.wrap_section01{
    width: 100%;
    background-color:#ECF0F1;
}
.wrap_section01 > .section01{
    display:flex;
}
.wrap_section01 > .section01 > a > .content{
    width:230px;
    height:160px;
    position:relative;
}
.wrap_section01 > .section01 > a > .content::after{
    content:"";
    display:block;
    width:1px;
    height:30%;
    background-color:#ccc;
    position:absolute;
    top:50%;
    right:0;
    transform:translateY(-50%);
}
.wrap_section01 > .section01 > a:last-child > .content::after{
    content:none;
}
.wrap_section01 > .section01 > a > .content > .box_text{
    text-align:center;
    position:absolute;
    width:80%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.wrap_section01 > .section01 > a > .content > .box_text > .title{
    font-size:18px;
    line-height:27px;
}
.wrap_section01 > .section01 > a:hover > .content > .box_text > .title{
    font-weight:bold;
    text-decoration:underline;
}
.wrap_section01 > .section01 > a > .content > .box_text > .text{
    font-size:16px;
    line-height:24px;
}
/* .wrap_section01 end */

/* .wrap_section02 start */

.wrap_section02{
    width: 100%;
}
.wrap_section02 > .section02 > .box_news > .box_title{
    margin-top:50px;
    margin-bottom:5px;
    width:100%;
}
.wrap_section02 > .section02 > .box_news > .box_title > .title{
    font-size:16px;
    font-weight:bold;
}
.wrap_section02 > .section02 > .box_news > .box_title > .more{
    font-size:14px;
}
.wrap_section02 > .section02 > .box_news > .box_title > .more:hover{
    text-decoration: underline;
}
.wrap_section02 > .section02 > .box_news > ul > li{   
    margin-top:10px;
    width:100%;
    font-size:14px;
}
.wrap_section02 > .section02 > .box_news > ul > li > a > .content{
    font-weight:bold;
}
.wrap_section02 > .section02 > .box_news > ul > li:hover > a > .content{
    text-decoration: underline;
}
.wrap_section02 > .section02 > .section_right{
    padding-top:40px;
    box-sizing:border-box;
}
.wrap_section02 > .section02 > .section_right > .box_board{
    width:100%;
    height:100%;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul > li{
    width:50%;
    height:50px;
    line-height:50px;
    text-align:center;
    border-top:1px solid #ddd;
    border-left:1px solid #ddd;
    box-sizing:border-box;
    font-size:14px;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul:last-child > li{
    border-bottom:1px solid #ddd;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul> li:last-child{
    border-right:1px solid #ddd;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul:first-child > li:first-child{
    border-top-left-radius:10px;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul:first-child > li:last-child{
    border-top-right-radius:10px;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul:last-child > li:first-child{
    border-bottom-left-radius: 10px;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul:last-child > li:last-child{
    border-bottom-right-radius: 10px;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul > li > a{
    display:block;
}
.wrap_section02 > .section02 > .section_right > .box_board > ul > li:hover{
    text-decoration: underline;
    background-color:#ECF0F1;
}


/* .wrap_section02 end */

/* .wrap_section03 start */

.wrap_section03{
    width:100%;
}
.wrap_section03 > .section03{
    height: 160px;
    padding-top:50px;
    box-sizing:border-box;
    display:flex;
    justify-content:space-evenly;
}
.wrap_section03 > .section03 > a > .box_image{
    width:70px;
    height: 70px;
    border-radius:17px;
}
.wrap_section03 > .section03 > a > .box_image:hover{
    border:0.5px solid rgba(9, 154, 150, 0.5);;
    box-shadow:0 0 15px 0 rgba(9, 154, 150, 0.2);
    box-sizing:border-box;
}
/* .wrap_section03 end */

/* .wrap_footer start */

.wrap_footer{
    width:100%;
}
.wrap_footer > .footer{
    padding-top:40px;
    padding-bottom:40px;
    border-top:0.5px solid #ddd;
    box-sizing:border-box;
}
.wrap_footer > .footer > .box_outerlink{
    padding-right:0;
    height:180px;
}
.wrap_footer > .footer > .box_outerlink > .box_helpdesk > .box_list > a{
    font-size:13px;
}
.wrap_footer > .footer > .box_outerlink > .box_helpdesk > .box_list > a:hover{
    text-decoration: underline;
}
.wrap_footer > .footer > .box_outerlink > .box_helpdesk > .box_list > .dot{
    margin-left:3px;
    margin-right:7px;
    color:#aaa;
    cursor:default;
}
.wrap_footer > .footer > .box_outerlink > .box_helpdesk > .box_list:last-child > .dot{
    display:none;
}
.wrap_footer > .footer > .box_outerlink >.box_cooperation{
    width: 100%;
    margin-top:45px;
}
.wrap_footer > .footer > .box_outerlink >.box_cooperation > a{
    margin-right:20px;
}
.wrap_footer > .footer > .box_outerlink > .box_family{
    width:100%;
    margin-top:20px;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li{
    width:25%;
    height:50px;
    background-color:white;
    border:1px solid #ddd;
    box-sizing:border-box;
    position:relative;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li.active{
    border:1px solid black;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li:nth-child(3).active{
    border:1px solid #ddd;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > .box_list{
    cursor:pointer;
    position:absolute;
    width:100%;
    top:50%;
    left:7px;
    transform:translateY(-50%);
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > .box_list > span{
    font-size:13px;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > .box_list > .box_image{
    width:20px;
    height: 20px;
    position:absolute;
    top:3px;
    right:20px;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > .box_list > .box_image.expand{
    display:block;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li.active > .box_list > .box_image.expand{
    display:none;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > .box_list > .box_image.fold{
    display:none;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li.active > .box_list > .box_image.fold{
    display:block;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li:nth-child(3) > .box_list > .box_image{
    display:block;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > ul{
    max-height:0px;
    overflow:hidden;
    background-color:white;
    position:absolute;
    width:100%;
    bottom:49px;
    left:0;
    transition:1s;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > ul::-webkit-scrollbar{
    width:10px;
    border-radius:5px;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > ul::-webkit-scrollbar-thumb{
    background-color:grey;
    border:2px solid white;
    box-sizing:border-box;
    border-radius:5px;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li.active > ul{
    max-height:251px;
    overflow:auto;
    border:1px solid black;
    border-bottom:0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing:border-box;
}

.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > ul > li{
    width:100%;
    height:50px;
    padding-left:7px;
    border-bottom:1px solid #ddd;
    box-sizing:border-box;
    line-height:50px;
    font-size:13px;
}
.wrap_footer > .footer > .box_outerlink > .box_family > ul > li > ul > li:last-child{
    border:0;
}

.wrap_footer > .footer > .box_contact > .box_tel > .tel{
    text-align:right;
    margin-bottom:10px;
}
.wrap_footer > .footer > .box_contact > .box_tel > .tel > .name{
    font-size:14px;
}
.wrap_footer > .footer > .box_contact > .box_tel > .tel > .number{
    font-size:24px;
    font-weight:bold;
    line-height:24px;
}
.wrap_footer > .footer > .box_contact > .box_tel > .tel.tel1 > .number > span{
    color:#ddd;
    font-weight:normal;
}
.wrap_footer > .footer > .box_contact > a > .box_faq{
    width:240px;
    height:50px;
    border-radius:10px;
    background-color:#ECF0F1;
    padding:15px 25px;
    box-sizing:border-box;
    margin-top:30px;
}

.wrap_footer > .footer > .box_contact > a > .box_faq > .title{
    margin-left:5px;
    font-size:14px;
}
/* .wrap_footer end */